* {
    border: 1px solid red;
}

#video-array {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    width: 80%;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;
    
}

#video-array.mobile-view {
    grid-template-columns: 1fr;
}

#video-array.widescreen-view {
    grid-template-columns: repeat(4, 1fr);
}