* {
    border: 1px solid black;
}

nav {
    height: 70px;
    display: flex;
    flex-direction: row;
}

.navbar-child-container {
    display: flex;
    flex-direction: row;
}

#navbar-left-container {
    flex-grow: 1
}

#navbar-right-container {
    flex-grow: 2;
}

.navbar-child {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
}

nav.mobile-view {
    justify-content: space-between;
}

nav.mobile-view #navbar-left-container {
    max-width: 20%;
}

nav.mobile-view #navbar-right-container {
    max-width: 40%;
}