<nav [class.mobile-view]="windowService.isMobile()">
    <div id="navbar-left-container" class="navbar-child-container">
        @if (windowService.isMobile()) {
            <div id="menu" class="navbar-child">Menu Button</div>
        }
        <div id="vidflex" class="navbar-child">Vidflix</div>
    </div>
    <div id="navbar-right-container" class="navbar-child-container">
        <div id="search" class="navbar-child">Search</div>
        <div id="create" class="navbar-child">Create</div>
        <div id="account" class="navbar-child">Account</div>
    </div>
</nav>