* {
    border: 1px solid black;
}

#menu {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    
    min-width: 150px;
    max-width: 300px;
    width: 30%;
    height: 100%;
}

#menu.open {
    transform: translateX(0);
}

#menu.close {
    transform: (-100%);
}