#video-container {
    display: flex;
    flex-direction: column;

    aspect-ratio: 16 / 9;

    margin-left: auto;
    margin-right: auto;
}

video {
    flex-grow: 2;
    border: 1px solid green;
}

#video-information {
    flex-grow: 1;
    border: 1px solid yellow;
}